.box_even {
  width: 50px;
  height: 50px;
  background-color: green;
}

.box_odd {
  width: 50px;
  height: 50px;
  background-color: red;
}


#match {
  border: 20px solid black;
  padding: 20px;
}
